In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
#x = [x**2 for x in range(1,100)]
#y = range(1, 100)

In [5]:
#plt.plot(x, y, 'ro')
#plt.show()

In [52]:
week1 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_160409.txt")
week2 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_160416.txt")
week3 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_160423.txt")
week4 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_160430.txt")
week5 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_160507.txt")
week6 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_160514.txt")
week7 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_160521.txt")
week8 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_160528.txt")
week9 = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_160604.txt")
mtadf = pd.concat([week1, week2, week3, week4, week5, week6, week7, week8, week9])

In [53]:
#mtadf = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_160409.txt")
mtadf = mtadf.rename(columns=lambda x: x.strip())#stripping trailing/leading blanks
mtadf.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,04/02/2016,00:00:00,REGULAR,5600838,1896290
1,A002,R051,02-00-00,59 ST,NQR456,BMT,04/02/2016,04:00:00,REGULAR,5600863,1896293
2,A002,R051,02-00-00,59 ST,NQR456,BMT,04/02/2016,08:00:00,REGULAR,5600877,1896313
3,A002,R051,02-00-00,59 ST,NQR456,BMT,04/02/2016,12:00:00,REGULAR,5600922,1896375
4,A002,R051,02-00-00,59 ST,NQR456,BMT,04/02/2016,16:00:00,REGULAR,5601172,1896445

In [54]:
mtadf['date_time'] =pd.to_datetime(mtadf['DATE'] + ' ' + mtadf['TIME'],format="%m/%d/%Y %H:%M:%S")

In [55]:
mtadf['DATE'] = pd.to_datetime(mtadf['DATE'], format="%m/%d/%Y")

In [56]:
mtadf['statline'] = mtadf['STATION'] + ' ' +mtadf['LINENAME']
mtadf = mtadf.drop(axis=1, labels = ['C/A', 'UNIT', 'DIVISION', 'DESC']) #drop columns to create df with only degrees
mtadf.head()

,SCP,STATION,LINENAME,DATE,TIME,ENTRIES,EXITS,date_time,statline
0,02-00-00,59 ST,NQR456,2016-04-02,00:00:00,5600838,1896290,2016-04-02 00:00:00,59 ST NQR456
1,02-00-00,59 ST,NQR456,2016-04-02,04:00:00,5600863,1896293,2016-04-02 04:00:00,59 ST NQR456
2,02-00-00,59 ST,NQR456,2016-04-02,08:00:00,5600877,1896313,2016-04-02 08:00:00,59 ST NQR456
3,02-00-00,59 ST,NQR456,2016-04-02,12:00:00,5600922,1896375,2016-04-02 12:00:00,59 ST NQR456
4,02-00-00,59 ST,NQR456,2016-04-02,16:00:00,5601172,1896445,2016-04-02 16:00:00,59 ST NQR456

In [57]:
mtadf= mtadf.sort_values(by=['statline','SCP','date_time'])

In [58]:
mtadf['dow'] = mtadf['DATE'].apply(datetime.weekday) #have to use apply to iterate over series

In [59]:
mtadf.head()

,SCP,STATION,LINENAME,DATE,TIME,ENTRIES,EXITS,date_time,statline,dow
29557,00-00-00,1 AV,L,2016-04-02,00:00:00,10910340,11896537,2016-04-02 00:00:00,1 AV L,5
29558,00-00-00,1 AV,L,2016-04-02,04:00:00,10910536,11896872,2016-04-02 04:00:00,1 AV L,5
29559,00-00-00,1 AV,L,2016-04-02,08:00:00,10910654,11897125,2016-04-02 08:00:00,1 AV L,5
29560,00-00-00,1 AV,L,2016-04-02,12:00:00,10911292,11897807,2016-04-02 12:00:00,1 AV L,5
29561,00-00-00,1 AV,L,2016-04-02,16:00:00,10912096,11898778,2016-04-02 16:00:00,1 AV L,5

In [60]:
#pd.value_counts(mtadf['UNIT'].values)
len(mtadf)

1746486

In [61]:
mtadf.dtypes

SCP                  object
STATION              object
LINENAME             object
DATE         datetime64[ns]
TIME                 object
ENTRIES               int64
EXITS                 int64
date_time    datetime64[ns]
statline             object
dow                   int64
dtype: object

In [5]:
#import dateutil.parser
#mtadf['date_time'] = mtadf['DATE'].apply(dateutil.parser.parse )
#mtadf

In [117]:
#mtadf['DATE'] + ' ' + mtadf['TIME']

In [75]:
mtadf.dtypes

C/A                  object
UNIT                 object
SCP                  object
STATION              object
LINENAME             object
DIVISION             object
DATE         datetime64[ns]
TIME                 object
DESC                 object
ENTRIES               int64
EXITS                 int64
date_time    datetime64[ns]
dow                   int64
dtype: object

In [63]:
diff_df = mtadf.groupby(by=['statline', 'date_time','dow','TIME'])[('ENTRIES','EXITS')].sum().diff().reset_index()
diff_df.rename(columns = {'ENTRIES':'entrydiff', 'EXITS' :'exitdiff'}, inplace = True)
print(len(diff_df))
#mtadf.join(diff_df, on='statline',rsuffix='_r')
#mtadf['exitdiff'] = mtadf['EXITS'].diff()#.replace(np.nan, '')
diff_df

276681

           statline           date_time  dow      TIME  entrydiff  exitdiff
0            1 AV L 2016-04-02 00:00:00    5  00:00:00        NaN       NaN
1            1 AV L 2016-04-02 04:00:00    5  04:00:00     2253.0     845.0
2            1 AV L 2016-04-02 08:00:00    5  08:00:00      669.0     700.0
3            1 AV L 2016-04-02 12:00:00    5  12:00:00     2967.0    2129.0
4            1 AV L 2016-04-02 16:00:00    5  16:00:00     4726.0    2988.0
5            1 AV L 2016-04-02 20:00:00    5  20:00:00     5124.0    3963.0
6            1 AV L 2016-04-03 00:00:00    6  00:00:00     4733.0    3066.0
7            1 AV L 2016-04-03 04:00:00    6  04:00:00     2249.0    1138.0
8            1 AV L 2016-04-03 08:00:00    6  08:00:00      507.0     504.0
9            1 AV L 2016-04-03 12:00:00    6  12:00:00     2203.0    1616.0
10           1 AV L 2016-04-03 16:00:00    6  16:00:00     4032.0    2685.0
11           1 AV L 2016-04-03 20:00:00    6  20:00:00     3845.0    3019.0
12           1 AV L 2016-04-04 00:00:00    0  00:00:00     2711.0    1508.0
13           1 AV L 2016-04-04 04:00:00    0  04:00:00      425.0     244.0
14           1 AV L 2016-04-04 08:00:00    0  08:00:00     1939.0    2524.0
15           1 AV L 2016-04-04 12:00:00    0  12:00:00     4454.0    5083.0
16           1 AV L 2016-04-04 16:00:00    0  16:00:00     5257.0    2542.0
17           1 AV L 2016-04-04 20:00:00    0  20:00:00     7016.0    3575.0
18           1 AV L 2016-04-05 00:00:00    1  00:00:00     3140.0    1764.0
19           1 AV L 2016-04-05 04:00:00    1  04:00:00      554.0     227.0
20           1 AV L 2016-04-05 08:00:00    1  08:00:00     2117.0    2716.0
21           1 AV L 2016-04-05 12:00:00    1  12:00:00     6063.0    3859.0
22           1 AV L 2016-04-05 16:00:00    1  16:00:00     5001.0    2556.0
23           1 AV L 2016-04-05 20:00:00    1  20:00:00     4938.0    2864.0
24           1 AV L 2016-04-06 00:00:00    2  00:00:00     3696.0    2050.0
25           1 AV L 2016-04-06 04:00:00    2  04:00:00      644.0     259.0
26           1 AV L 2016-04-06 08:00:00    2  08:00:00     1993.0    2577.0
27           1 AV L 2016-04-06 12:00:00    2  12:00:00     5832.0    4265.0
28           1 AV L 2016-04-06 16:00:00    2  16:00:00     5234.0    2782.0
29           1 AV L 2016-04-06 20:00:00    2  20:00:00     7509.0    3544.0
...             ...                 ...  ...       ...        ...       ...
276651  ZEREGA AV 6 2016-05-30 01:00:00    0  01:00:00       89.0     228.0
276652  ZEREGA AV 6 2016-05-30 05:00:00    0  05:00:00       28.0      63.0
276653  ZEREGA AV 6 2016-05-30 09:00:00    0  09:00:00      240.0      94.0
276654  ZEREGA AV 6 2016-05-30 13:00:00    0  13:00:00      249.0     132.0
276655  ZEREGA AV 6 2016-05-30 17:00:00    0  17:00:00      287.0     220.0
276656  ZEREGA AV 6 2016-05-30 21:00:00    0  21:00:00      171.0     342.0
276657  ZEREGA AV 6 2016-05-31 01:00:00    1  01:00:00       68.0     214.0
276658  ZEREGA AV 6 2016-05-31 05:00:00    1  05:00:00       64.0      50.0
276659  ZEREGA AV 6 2016-05-31 09:00:00    1  09:00:00     1186.0     458.0
276660  ZEREGA AV 6 2016-05-31 13:00:00    1  13:00:00      465.0     293.0
276661  ZEREGA AV 6 2016-05-31 17:00:00    1  17:00:00      568.0     563.0
276662  ZEREGA AV 6 2016-05-31 21:00:00    1  21:00:00      346.0     816.0
276663  ZEREGA AV 6 2016-06-01 01:00:00    2  01:00:00       93.0     282.0
276664  ZEREGA AV 6 2016-06-01 05:00:00    2  05:00:00       64.0      69.0
276665  ZEREGA AV 6 2016-06-01 09:00:00    2  09:00:00     1180.0     471.0
276666  ZEREGA AV 6 2016-06-01 13:00:00    2  13:00:00      529.0     361.0
276667  ZEREGA AV 6 2016-06-01 17:00:00    2  17:00:00      606.0     558.0
276668  ZEREGA AV 6 2016-06-01 21:00:00    2  21:00:00      360.0     882.0
276669  ZEREGA AV 6 2016-06-02 01:00:00    3  01:00:00       92.0     305.0
276670  ZEREGA AV 6 2016-06-02 05:00:00    3  05:00:00       77.0      75.0
276671  ZEREGA AV 6 2016-06-02 09:00:00    3  09:00:00     1209.0     476.0
276672  ZEREGA AV 6 2016-06-02 13:00:00    3  13:00:00      511.0     278.0
276673  ZEREGA AV 6 2016-06-02 17:00:00    3  17:00:00      592.0     573.0
276674  ZEREGA AV 6 2016-06-02 21:00:00    3  21:00:00      388.0     805.0
276675  ZEREGA AV 6 2016-06-03 01:00:00    4  01:00:00       82.0     287.0
276676  ZEREGA AV 6 2016-06-03 05:00:00    4  05:00:00       53.0      86.0
276677  ZEREGA AV 6 2016-06-03 09:00:00    4  09:00:00     1168.0     424.0
276678  ZEREGA AV 6 2016-06-03 13:00:00    4  13:00:00      466.0     311.0
276679  ZEREGA AV 6 2016-06-03 17:00:00    4  17:00:00      577.0     579.0
276680  ZEREGA AV 6 2016-06-03 21:00:00    4  21:00:00      370.0     745.0

[276681 rows x 6 columns]

In [82]:
import math
diff_df[math.isnan(diff_df['entrydiff'])]

TypeError: cannot convert the series to <class 'float'>

In [79]:
diff_df['entrydiff'][0]

nan

In [71]:
diff_df.sort_values(by=['entrydiff','statline','dow'], ascending=False)

,statline,date_time,dow,TIME,entrydiff,exitdiff
43884,42 ST-PORT AUTH ACENQRS1237,2016-05-10 08:00:00,1,08:00:00,7.462563e+09,6.191239e+09
43416,42 ST-PORT AUTH ACENQRS1237,2016-04-02 00:00:00,5,00:00:00,7.428502e+09,6.170552e+09
43952,42 ST-PORT AUTH ACENQRS1237,2016-05-16 00:00:00,0,00:00:00,7.376472e+09,6.205738e+09
43468,42 ST-PORT AUTH ACENQRS1237,2016-04-06 08:00:00,2,08:00:00,7.293254e+09,6.184710e+09
44186,42 ST-PORT AUTH ACENQRS1237,2016-06-03 20:00:00,4,20:00:00,7.291280e+09,6.187372e+09
44184,42 ST-PORT AUTH ACENQRS1237,2016-06-03 16:00:00,4,16:00:00,7.291278e+09,6.187360e+09
44182,42 ST-PORT AUTH ACENQRS1237,2016-06-03 12:00:00,4,12:00:00,7.291276e+09,6.187355e+09
44179,42 ST-PORT AUTH ACENQRS1237,2016-06-03 08:00:00,4,08:00:00,7.291262e+09,6.187353e+09
44173,42 ST-PORT AUTH ACENQRS1237,2016-06-02 20:00:00,3,20:00:00,7.291257e+09,6.187350e+09
44175,42 ST-PORT AUTH ACENQRS1237,2016-06-03 00:00:00,4,00:00:00,7.291255e+09,6.187352e+09
44171,42 ST-PORT AUTH ACENQRS1237,2016-06-02 16:00:00,3,16:00:00,7.291255e+09,6.187337e+09
44169,42 ST-PORT AUTH ACENQRS1237,2016-06-02 12:00:00,3,12:00:00,7.291252e+09,6.187332e+09
44177,42 ST-PORT AUTH ACENQRS1237,2016-06-03 04:00:00,4,04:00:00,7.291252e+09,6.187351e+09
44167,42 ST-PORT AUTH ACENQRS1237,2016-06-02 08:00:00,3,08:00:00,7.291239e+09,6.187331e+09
44161,42 ST-PORT AUTH ACENQRS1237,2016-06-01 20:00:00,2,20:00:00,7.291233e+09,6.187328e+09
44159,42 ST-PORT AUTH ACENQRS1237,2016-06-01 16:00:00,2,16:00:00,7.291231e+09,6.187314e+09
44163,42 ST-PORT AUTH ACENQRS1237,2016-06-02 00:00:00,3,00:00:00,7.291230e+09,6.187330e+09
44157,42 ST-PORT AUTH ACENQRS1237,2016-06-01 12:00:00,2,12:00:00,7.291228e+09,6.187309e+09
44165,42 ST-PORT AUTH ACENQRS1237,2016-06-02 04:00:00,3,04:00:00,7.291228e+09,6.187329e+09
44155,42 ST-PORT AUTH ACENQRS1237,2016-06-01 08:00:00,2,08:00:00,7.291214e+09,6.187308e+09
44149,42 ST-PORT AUTH ACENQRS1237,2016-05-31 20:00:00,1,20:00:00,7.291208e+09,6.187305e+09
44151,42 ST-PORT AUTH ACENQRS1237,2016-06-01 00:00:00,2,00:00:00,7.291206e+09,6.187307e+09
44147,42 ST-PORT AUTH ACENQRS1237,2016-05-31 16:00:00,1,16:00:00,7.291206e+09,6.187292e+09
44153,42 ST-PORT AUTH ACENQRS1237,2016-06-01 04:00:00,2,04:00:00,7.291204e+09,6.187306e+09
44145,42 ST-PORT AUTH ACENQRS1237,2016-05-31 12:00:00,1,12:00:00,7.291202e+09,6.187288e+09
44143,42 ST-PORT AUTH ACENQRS1237,2016-05-31 08:00:00,1,08:00:00,7.291188e+09,6.187286e+09
44139,42 ST-PORT AUTH ACENQRS1237,2016-05-31 00:00:00,1,00:00:00,7.291179e+09,6.187285e+09
44137,42 ST-PORT AUTH ACENQRS1237,2016-05-30 20:00:00,0,20:00:00,7.291178e+09,6.187285e+09
44141,42 ST-PORT AUTH ACENQRS1237,2016-05-31 04:00:00,1,04:00:00,7.291177e+09,6.187285e+09
44135,42 ST-PORT AUTH ACENQRS1237,2016-05-30 16:00:00,0,16:00:00,7.291175e+09,6.187282e+09
...,...,...,...,...,...,...
44136,42 ST-PORT AUTH ACENQRS1237,2016-05-30 18:00:00,0,18:00:00,-7.291171e+09,-6.187279e+09
44138,42 ST-PORT AUTH ACENQRS1237,2016-05-30 22:00:00,0,22:00:00,-7.291174e+09,-6.187282e+09
44142,42 ST-PORT AUTH ACENQRS1237,2016-05-31 06:00:00,1,06:00:00,-7.291177e+09,-6.187284e+09
44140,42 ST-PORT AUTH ACENQRS1237,2016-05-31 02:00:00,1,02:00:00,-7.291177e+09,-6.187284e+09
44144,42 ST-PORT AUTH ACENQRS1237,2016-05-31 10:00:00,1,10:00:00,-7.291185e+09,-6.187282e+09
44146,42 ST-PORT AUTH ACENQRS1237,2016-05-31 14:00:00,1,14:00:00,-7.291199e+09,-6.187285e+09
44148,42 ST-PORT AUTH ACENQRS1237,2016-05-31 18:00:00,1,18:00:00,-7.291200e+09,-6.187288e+09
44150,42 ST-PORT AUTH ACENQRS1237,2016-05-31 22:00:00,1,22:00:00,-7.291202e+09,-6.187301e+09
44154,42 ST-PORT AUTH ACENQRS1237,2016-06-01 06:00:00,2,06:00:00,-7.291203e+09,-6.187306e+09
44152,42 ST-PORT AUTH ACENQRS1237,2016-06-01 02:00:00,2,02:00:00,-7.291203e+09,-6.187306e+09
44156,42 ST-PORT AUTH ACENQRS1237,2016-06-01 10:00:00,2,10:00:00,-7.291211e+09,-6.187304e+09
44160,42 ST-PORT AUTH ACENQRS1237,2016-06-01 18:00:00,2,18:00:00,-7.291224e+09,-6.187310e+09
44158,42 ST-PORT AUTH ACENQRS1237,2016-06-01 14:00:00,2,14:00:00,-7.291225e+09,-6.187306e+09
44162,42 ST-PORT AUTH ACENQRS1237,2016-06-01 22:00:00,2,22:00:00,-7.291226e+09,-6.187324e+09
44166,42 ST-PORT AUTH ACENQRS1237,2016-06-02 06:00:00,3,06:00:00,-7.291227e+09,-6.187329e+09
44164,42 ST-PORT AUTH ACENQRS1237,2016-06-02 02:00:00,3,02:00:00,-7.291227e+09,-6.187329e+09
44168,42 ST-PORT AUTH ACENQRS1237,2016-06-02 10:00:00,3,10:00:00,-7.291236e+09,-6.187327e+09
44172,42 ST-PORT AUTH ACENQRS1237,2016-06-02 18:00:00,3,18:00:00,-7.291248e+09,-6.187333e+09
44170,42 ST-PORT AUTH ACENQRS1237,2016-06-02 14:00:00,3,14:00:00,-7.291249e+09,-6.187330e+09
44174,42 ST-PORT AUTH ACENQRS1237,2016-06-02 22:00:00,3,22:00:00,-7.291250e+09,-6.187346e+09
44178,42 ST-PORT AUTH ACENQRS1237,2016-06-03 06:00:00,4,06:00:00,-7.291251e+09,-6.187351e+09
44176,42 ST-PORT AUTH ACENQRS1237,2016-06-03 02:00:00,4,02:00:00,-7.291251e+09,-6.187351e+09
44180,42 ST-PORT AUTH ACENQRS1237,2016-06-03 08:51:45,4,08:51:45,-7.291261e+09,-6.187351e+09
44185,42 ST-PORT AUTH ACENQRS1237,2016-06-03 18:00:00,4,18:00:00,-7.291272e+09,-6.187356e+09
44183,42 ST-PORT AUTH ACENQRS1237,2016-06-03 14:00:00,4,14:00:00,-7.291272e+09,-6.187352e+09
44187,42 ST-PORT AUTH ACENQRS1237,2016-06-03 22:00:00,4,22:00:00,-7.291274e+09,-6.187368e+09
43469,42 ST-PORT AUTH ACENQRS1237,2016-04-06 10:00:00,2,10:00:00,-7.293251e+09,-6.184706e+09
43781,42 ST-PORT AUTH ACENQRS1237,2016-05-02 10:00:00,0,10:00:00,-7.294444e+09,-6.187574e+09
43951,42 ST-PORT AUTH ACENQRS1237,2016-05-15 22:00:00,6,22:00:00,-7.376468e+09,-6.205734e+09
0,1 AV L,2016-04-02 00:00:00,5,00:00:00,NaN,NaN

In [90]:
#df.sort_values(by=['userid','product'])
mtadf.sort_values(by=['entrydiff','STATION','dow'], ascending=False)

,SCP,STATION,LINENAME,DATE,TIME,ENTRIES,EXITS,date_time,dow,statline,entrydiff,exitdiff
149330,02-00-03,GRD CNTRL-42 ST,4567S,2016-04-02,00:00:00,2146688902,1342719785,2016-04-02 00:00:00,5,GRD CNTRL-42 ST 4567S,2.144912e+09,1.342614e+09
35954,00-00-01,LORIMER ST,JM,2016-04-02,01:00:00,2130762311,2097168480,2016-04-02 01:00:00,5,LORIMER ST JM,2.126638e+09,2.095820e+09
121562,00-00-02,CHAMBERS ST,123,2016-04-02,00:00:00,2114637105,1711802742,2016-04-02 00:00:00,5,CHAMBERS ST 123,2.104615e+09,1.700695e+09
38513,00-00-02,104 ST,JZ,2016-04-02,00:00:00,2026144535,622210476,2016-04-02 00:00:00,5,104 ST JZ,2.024289e+09,6.209057e+08
48516,01-00-01,42 ST-PORT AUTH,ACENQRS1237,2016-04-02,00:00:00,2031487642,1692814064,2016-04-02 00:00:00,5,42 ST-PORT AUTH ACENQRS1237,2.021576e+09,1.658073e+09
155872,00-00-03,125 ST,456,2016-04-02,01:00:00,2010944496,822912610,2016-04-02 01:00:00,5,125 ST 456,2.008465e+09,8.043941e+08
144678,02-00-00,23 ST,6,2016-04-02,01:00:00,1996851537,1544260094,2016-04-02 01:00:00,5,23 ST 6,1.992255e+09,1.542976e+09
50490,00-03-00,34 ST-PENN STA,ACE,2016-04-02,00:00:00,1964149326,486905760,2016-04-02 00:00:00,5,34 ST-PENN STA ACE,1.963406e+09,4.861730e+08
7449,00-06-00,CANAL ST,JNQRZ6,2016-04-02,01:00:00,1947132313,587551448,2016-04-02 01:00:00,5,CANAL ST JNQRZ6,1.947132e+09,5.875511e+08
42505,00-00-01,163 ST-AMSTERDM,C,2016-04-02,01:00:00,1952534671,664259900,2016-04-02 01:00:00,5,163 ST-AMSTERDM C,1.944938e+09,6.637279e+08
161803,01-00-02,3 AV-149 ST,25,2016-04-02,00:00:00,1945316935,1241635480,2016-04-02 00:00:00,5,3 AV-149 ST 25,1.938623e+09,1.240867e+09
160916,01-00-02,125 ST,23,2016-04-05,17:00:00,1946145648,1493213325,2016-04-05 17:00:00,1,125 ST 23,1.936970e+09,1.487318e+09
128323,01-00-01,TIMES SQ-42 ST,1237ACENQRS,2016-04-02,00:00:00,1894378508,1426969248,2016-04-02 00:00:00,5,TIMES SQ-42 ST 1237ACENQRS,1.887419e+09,1.417790e+09
123419,00-00-00,CHRISTOPHER ST,1,2016-04-02,00:00:00,1881438325,705488229,2016-04-02 00:00:00,5,CHRISTOPHER ST 1,1.878115e+09,6.911754e+08
142548,00-03-04,BROOKLYN BRIDGE,456JZ,2016-04-02,00:00:00,1860740847,1007184058,2016-04-02 00:00:00,5,BROOKLYN BRIDGE 456JZ,1.855382e+09,1.003553e+09
73558,01-00-04,7 AV,BDE,2016-04-02,01:00:00,1833289695,772243050,2016-04-02 01:00:00,5,7 AV BDE,1.832405e+09,7.715441e+08
93055,01-00-04,42 ST-BRYANT PK,BDFM7,2016-04-02,00:00:00,1830153078,1292696709,2016-04-02 00:00:00,5,42 ST-BRYANT PK BDFM7,1.824506e+09,1.290414e+09
158512,00-00-00,183 ST,4,2016-04-02,00:00:00,1779737581,1863758064,2016-04-02 00:00:00,5,183 ST 4,1.777742e+09,1.859036e+09
70344,00-00-02,167 ST,BD,2016-04-02,00:00:00,1778416763,855714834,2016-04-02 00:00:00,5,167 ST BD,1.771173e+09,8.518780e+08
105046,00-00-01,LEXINGTON AV/63,F,2016-04-02,00:00:00,1760538478,48601283,2016-04-02 00:00:00,5,LEXINGTON AV/63 F,1.758659e+09,4.275065e+07
128666,00-00-01,TIMES SQ-42 ST,1237ACENQRS,2016-04-02,00:00:00,1713206442,319231293,2016-04-02 00:00:00,5,TIMES SQ-42 ST 1237ACENQRS,1.712484e+09,3.177754e+08
127482,02-03-02,TIMES SQ-42 ST,1237ACENQRS,2016-04-02,00:00:00,1711709755,1157939716,2016-04-02 00:00:00,5,TIMES SQ-42 ST 1237ACENQRS,1.711062e+09,1.157164e+09
160600,00-00-00,125 ST,23,2016-04-02,01:00:00,1693546335,788785946,2016-04-02 01:00:00,5,125 ST 23,1.691768e+09,7.865014e+08
102900,01-05-01,18 AV,F,2016-04-02,00:00:00,1675034624,806879237,2016-04-02 00:00:00,5,18 AV F,1.675032e+09,8.068792e+08
32531,01-06-00,MYRTLE-WYCKOFF,LM,2016-04-02,00:00:00,1661765664,553909935,2016-04-02 00:00:00,5,MYRTLE-WYCKOFF LM,1.660959e+09,5.525678e+08
10759,00-00-02,DELANCEY/ESSEX,FJMZ,2016-04-02,01:00:00,1645158965,1057297989,2016-04-02 01:00:00,5,DELANCEY/ESSEX FJMZ,1.636011e+09,1.054290e+09
150130,00-00-03,GRD CNTRL-42 ST,4567S,2016-04-02,01:00:00,1594877902,386157773,2016-04-02 01:00:00,5,GRD CNTRL-42 ST 4567S,1.583788e+09,3.803176e+08
126191,00-03-04,34 ST-PENN STA,123ACE,2016-04-02,02:00:00,1568562998,1127077532,2016-04-02 02:00:00,5,34 ST-PENN STA 123ACE,1.566405e+09,1.125921e+09
3396,01-03-02,34 ST-HERALD SQ,BDFMNQR,2016-04-02,00:00:00,1557559107,2048405414,2016-04-02 00:00:00,5,34 ST-HERALD SQ BDFMNQR,1.546481e+09,2.041713e+09
1511,01-00-02,57 ST-7 AV,NQR,2016-04-02,00:00:00,1560892934,1292326651,2016-04-02 00:00:00,5,57 ST-7 AV NQR,1.545990e+09,1.275507e+09
...,...,...,...,...,...,...,...,...,...,...,...,...
126237,00-03-05,34 ST-PENN STA,123ACE,2016-04-02,02:00:00,157875,134192,2016-04-02 02:00:00,5,34 ST-PENN STA 123ACE,-1.568406e+09,-1.126959e+09
65548,01-04-00,111 ST,A,2016-04-02,01:00:00,50331678,16777216,2016-04-02 01:00:00,5,111 ST A,-1.631074e+09,-9.615480e+08
10802,00-03-00,DELANCEY/ESSEX,FJMZ,2016-04-02,01:00:00,2231912,1436428,2016-04-02 01:00:00,5,DELANCEY/ESSEX FJMZ,-1.642940e+09,-1.055865e+09
32573,01-06-01,MYRTLE-WYCKOFF,LM,2016-04-02,00:00:00,6411107,2059039,2016-04-02 00:00:00,5,MYRTLE-WYCKOFF LM,-1.655372e+09,-5.518552e+08
11942,04-00-00,FULTON ST,ACJZ2345,2016-04-02,03:00:00,63237,376286,2016-04-02 03:00:00,5,FULTON ST ACJZ2345,-1.661445e+09,-1.140752e+09
102942,01-06-00,18 AV,F,2016-04-02,00:00:00,883878,402743,2016-04-02 00:00:00,5,18 AV F,-1.674151e+09,-8.064765e+08
160642,00-00-01,125 ST,23,2016-04-02,01:00:00,6055,1047,2016-04-02 01:00:00,5,125 ST 23,-1.693530e+09,-7.887889e+08
128708,00-00-02,TIMES SQ-42 ST,1237ACENQRS,2016-04-02,00:00:00,6729280,5239096,2016-04-02 00:00:00,5,TIMES SQ-42 ST 1237ACENQRS,-1.706509e+09,-3.139997e+08
127524,02-03-03,TIMES SQ-42 ST,1237ACENQRS,2016-04-02,00:00:00,714089,163713,2016-04-02 00:00:00,5,TIMES SQ-42 ST 1237ACENQRS,-1.711009e+09,-1.157784e+09
105088,00-00-02,LEXINGTON AV/63,F,2016-04-02,00:00:00,15902243,11192049,2016-04-02 00:00:00,5,LEXINGTON AV/63 F,-1.744623e+09,-3.737998e+07
70386,00-00-03,167 ST,BD,2016-04-02,00:00:00,7082865,3270809,2016-04-02 00:00:00,5,167 ST BD,-1.771343e+09,-8.524486e+08
158554,00-00-01,183 ST,4,2016-04-02,00:00:00,2388049,1356320,2016-04-02 00:00:00,5,183 ST 4,-1.777359e+09,-1.862411e+09
93098,01-06-00,42 ST-BRYANT PK,BDFM7,2016-04-08,07:58:28,4082409,669978,2016-04-08 07:58:28,4,42 ST-BRYANT PK BDFM7,-1.826089e+09,-1.292038e+09
73600,00-00-00,7 AV,BDE,2016-04-02,01:00:00,4105621,5065964,2016-04-02 01:00:00,5,7 AV BDE,-1.829198e+09,-7.671819e+08
142590,00-03-05,BROOKLYN BRIDGE,456JZ,2016-04-02,00:00:00,9789104,2348072,2016-04-02 00:00:00,5,BROOKLYN BRIDGE 456JZ,-1.850938e+09,-1.004841e+09
123462,00-00-01,CHRISTOPHER ST,1,2016-04-02,00:00:00,16418574,3610391,2016-04-02 00:00:00,5,CHRISTOPHER ST 1,-1.865042e+09,-7.018853e+08
128366,01-03-00,TIMES SQ-42 ST,1237ACENQRS,2016-04-02,00:00:00,3666759,1177453,2016-04-02 00:00:00,5,TIMES SQ-42 ST 1237ACENQRS,-1.890699e+09,-1.425799e+09
160936,00-00-00,135 ST,23,2016-04-02,00:00:00,10390120,2869637,2016-04-02 00:00:00,5,135 ST 23,-1.935748e+09,-1.490347e+09
7489,00-06-01,CANAL ST,JNQRZ6,2016-04-02,01:00:00,9627244,1784128,2016-04-02 01:00:00,5,CANAL ST JNQRZ6,-1.937520e+09,-5.857729e+08
161855,01-00-03,3 AV-149 ST,25,2016-04-02,00:00:00,3657972,640605,2016-04-02 00:00:00,5,3 AV-149 ST 25,-1.941653e+09,-1.240997e+09
42549,00-00-02,163 ST-AMSTERDM,C,2016-04-02,01:00:00,8009266,932463,2016-04-02 01:00:00,5,163 ST-AMSTERDM C,-1.944531e+09,-6.633268e+08
50532,00-03-01,34 ST-PENN STA,ACE,2016-04-02,00:00:00,14277558,2589869,2016-04-02 00:00:00,5,34 ST-PENN STA ACE,-1.949886e+09,-4.843203e+08
144729,02-03-00,23 ST,6,2016-04-02,01:00:00,9665296,11843377,2016-04-02 01:00:00,5,23 ST 6,-1.987198e+09,-1.532431e+09
155916,00-00-04,125 ST,456,2016-04-02,01:00:00,7213524,2127716,2016-04-02 01:00:00,5,125 ST 456,-2.003700e+09,-8.207951e+08
38555,00-00-03,104 ST,JZ,2016-04-02,00:00:00,4074662,4502978,2016-04-02 00:00:00,5,104 ST JZ,-2.022067e+09,-6.177057e+08
48558,01-00-02,42 ST-PORT AUTH,ACENQRS1237,2016-04-02,00:00:00,3611699,2578114,2016-04-02 00:00:00,5,42 ST-PORT AUTH ACENQRS1237,-2.027888e+09,-1.690221e+09
121604,00-00-03,CHAMBERS ST,123,2016-04-02,00:00:00,6354474,3679947,2016-04-02 00:00:00,5,CHAMBERS ST 123,-2.108291e+09,-1.708129e+09
35981,00-00-01,LORIMER ST,JM,2016-04-06,17:00:00,368,134,2016-04-06 17:00:00,2,LORIMER ST JM,-2.130766e+09,-2.097170e+09
149372,02-00-04,GRD CNTRL-42 ST,4567S,2016-04-02,00:00:00,8249,270,2016-04-02 00:00:00,5,GRD CNTRL-42 ST 4567S,-2.146666e+09,-1.342721e+09
0,02-00-00,59 ST,NQR456,2016-04-02,00:00:00,5600838,1896290,2016-04-02 00:00:00,5,59 ST NQR456,NaN,NaN

In [83]:
pd.value_counts(mtadf['entrydiff'].values)

 0.000000e+00    28275
 1.000000e+00     3306
 2.000000e+00     2405
 3.000000e+00     2124
 4.000000e+00     1923
 5.000000e+00     1782
 7.000000e+00     1693
 6.000000e+00     1661
 8.000000e+00     1554
 1.000000e+01     1461
 9.000000e+00     1424
 1.100000e+01     1405
 1.200000e+01     1372
 1.300000e+01     1262
 1.500000e+01     1226
 1.400000e+01     1201
 1.600000e+01     1196
 1.700000e+01     1177
 1.800000e+01     1072
 1.900000e+01     1071
 2.000000e+01     1035
 2.100000e+01      979
 2.200000e+01      965
 2.300000e+01      932
 2.400000e+01      901
 2.500000e+01      898
 2.600000e+01      850
 2.700000e+01      834
 2.900000e+01      805
 2.800000e+01      794
                 ...
-4.325437e+06        1
 3.931730e+05        1
 9.168487e+08        1
 3.014809e+06        1
-4.849480e+06        1
-1.327290e+05        1
 9.304426e+06        1
-3.802893e+06        1
 1.285240e+05        1
-6.583470e+05        1
 1.771173e+09        1
 3.798115e+06        1
-1.444756e+06        1
 3.011821e+06        1
-3.279610e+06        1
-6.580260e+05        1
-2.003700e+09        1
-1.219228e+07        1
 3.907360e+05        1
 3.012638e+06        1
 2.487896e+06        1
-4.852107e+06        1
 1.286420e+05        1
 2.487998e+06        1
 7.730910e+06        1
-7.211289e+06        1
 1.061451e+07        1
 1.701777e+06        1
 1.039268e+09        1
-5.412142e+06        1
dtype: int64

In [14]:
pd.value_counts(mtadf['TIME'].values)

16:00:00    16826
20:00:00    16820
00:00:00    16819
12:00:00    16817
04:00:00    16815
08:00:00    16811
05:00:00    11784
01:00:00    11781
17:00:00    11777
13:00:00    11770
21:00:00    11761
09:00:00    11757
14:00:00      771
06:00:00      770
22:00:00      767
10:00:00      767
18:00:00      766
02:00:00      761
19:00:00      273
07:00:00      273
15:00:00      273
23:00:00      273
03:00:00      273
11:00:00      273
08:22:00      260
20:22:00      259
04:22:00      259
00:22:00      259
16:22:00      259
12:22:00      257
            ...
12:06:08        1
18:58:36        1
18:09:29        1
21:39:47        1
04:53:21        1
19:39:14        1
01:34:04        1
07:19:57        1
03:47:15        1
11:18:29        1
08:47:59        1
19:07:26        1
08:03:35        1
16:46:40        1
11:26:47        1
02:37:20        1
10:28:55        1
02:01:52        1
14:12:23        1
00:08:19        1
15:41:31        1
20:38:56        1
02:34:39        1
02:58:00        1
14:33:17        1
12:55:05        1
05:03:47        1
17:31:50        1
04:05:25        1
17:06:21        1
dtype: int64

In [15]:
faculty_dict = {k: v.iloc[:,1:4].values.tolist() for k,v in fac.groupby("lname")}
faculty_dict

In [18]:
D.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456,BMT,04/02/2016,00:00:00,REGULAR,5600838,1896290
1,A002,R051,02-00-00,59 ST,NQR456,BMT,04/02/2016,04:00:00,REGULAR,5600863,1896293
2,A002,R051,02-00-00,59 ST,NQR456,BMT,04/02/2016,08:00:00,REGULAR,5600877,1896313
3,A002,R051,02-00-00,59 ST,NQR456,BMT,04/02/2016,12:00:00,REGULAR,5600922,1896375
4,A002,R051,02-00-00,59 ST,NQR456,BMT,04/02/2016,16:00:00,REGULAR,5601172,1896445

In [9]:
Sdict = defaultdict(list)

for key in Ddict:
# new dict with station identifier as key and all entry/exit counts as list of values
    tmpHdict = defaultdict(list)

    for tf in Ddict[key]:
        DateTime= tf[0]
        volumn = tf[1]

        tmpHdict[DateTime.date()].append(volumn)
#        break
#        print(tmpTdict)

        ## get difference between relevant highest(latest | 8/9pm) & lowest (earliest | 4/5am) index of count of the day
    tmpCdict = defaultdict(list)
    for date in tmpHdict.keys():
#        print (date)
        #count = max(tmpTdict[date]) - min(tmpTdict[date])
        if (len(tmpHdict[date])>=2):
            count = tmpHdict[date][len(tmpHdict[date])-1] - tmpHdict[date][1]
        else:
            count = [0]

        tmpCdict[date].append(count)
    Sdict[key]= tmpCdict

In [17]:
print({k: Ddict[k] for k in list(Ddict.keys())[:1]})

{('N089', 'R139', '00-00-00', 'CANAL ST'): [[datetime.datetime(2016, 4, 2, 0, 0), 19103742], [datetime.datetime(2016, 4, 2, 4, 0), 19103805], [datetime.datetime(2016, 4, 2, 8, 0), 19103875], [datetime.datetime(2016, 4, 2, 12, 0), 19104170], [datetime.datetime(2016, 4, 2, 16, 0), 19104521], [datetime.datetime(2016, 4, 2, 20, 0), 19104950], [datetime.datetime(2016, 4, 3, 0, 0), 19105119], [datetime.datetime(2016, 4, 3, 4, 0), 19105163], [datetime.datetime(2016, 4, 3, 8, 0), 19105206], [datetime.datetime(2016, 4, 3, 12, 0), 19105428], [datetime.datetime(2016, 4, 3, 16, 0), 19105724], [datetime.datetime(2016, 4, 3, 20, 0), 19105951], [datetime.datetime(2016, 4, 4, 0, 0), 19106028], [datetime.datetime(2016, 4, 4, 4, 0), 19106049], [datetime.datetime(2016, 4, 4, 8, 0), 19106330], [datetime.datetime(2016, 4, 4, 12, 0), 19107210], [datetime.datetime(2016, 4, 4, 16, 0), 19107752], [datetime.datetime(2016, 4, 4, 20, 0), 19108501], [datetime.datetime(2016, 4, 5, 0, 0), 19108705], [datetime.datetime(2016, 4, 5, 4, 0), 19108726], [datetime.datetime(2016, 4, 5, 8, 0), 19109028], [datetime.datetime(2016, 4, 5, 12, 0), 19109832], [datetime.datetime(2016, 4, 5, 16, 0), 19110430], [datetime.datetime(2016, 4, 5, 20, 0), 19111451], [datetime.datetime(2016, 4, 6, 0, 0), 19111698], [datetime.datetime(2016, 4, 6, 4, 0), 19111722], [datetime.datetime(2016, 4, 6, 8, 0), 19112050], [datetime.datetime(2016, 4, 6, 12, 0), 19112934], [datetime.datetime(2016, 4, 6, 16, 0), 19113536], [datetime.datetime(2016, 4, 6, 20, 0), 19114343], [datetime.datetime(2016, 4, 7, 0, 0), 19114616], [datetime.datetime(2016, 4, 7, 4, 0), 19114646], [datetime.datetime(2016, 4, 7, 8, 0), 19114922], [datetime.datetime(2016, 4, 7, 12, 0), 19115788], [datetime.datetime(2016, 4, 7, 16, 0), 19116307], [datetime.datetime(2016, 4, 7, 20, 0), 19117107], [datetime.datetime(2016, 4, 8, 0, 0), 19117347], [datetime.datetime(2016, 4, 8, 4, 0), 19117396], [datetime.datetime(2016, 4, 8, 8, 0), 19117702], [datetime.datetime(2016, 4, 8, 12, 0), 19118576], [datetime.datetime(2016, 4, 8, 16, 0), 19119221], [datetime.datetime(2016, 4, 8, 20, 0), 19119911]]}

In [20]:
## Count Passenger Vol by Station-Unit_SCP

Sdict = defaultdict(list)

for key in Ddict:
# new dict with station identifier as key and all entry/exit counts as list of values
    tmpHdict = defaultdict(list)

    for tf in Ddict[key]:
        DateTime= tf[0]
        #wday = tf[1]
        volume = tf[1]

        tmpHdict[DateTime.date()].append(volume)
#break
#print(tmpTdict)

        ## get difference between relevant highest(latest | 8/9pm) & lowest (earliest | 4/5am) index of count of the day
    tmpCdict = defaultdict(list)
    for date in tmpHdict.keys():
#        print (date)
        #count = max(tmpTdict[date]) - min(tmpTdict[date])
        if (len(tmpHdict[date])>=2):
            count = tmpHdict[date][len(tmpHdict[date])-1] - tmpHdict[date][1]
        else:
            count = [0]

        # tmpCdict[date].append([date.weekday(),count])
        tmpCdict[date.weekday()].append(count)
    Sdict[key]= tmpCdict


#Sdict


## Cluster Count Passenger Vol by Station

DC = {(keys[0],keys[1],keys[3]): values for keys, values in Sdict.items() }


#pd.DataFrame(Sdict[list(Sdict.keys())[0]])
#pd.DataFrame(Sdict[list(Sdict.keys())[1]])
#pd.concat([])

In [29]:
{k: DC[k] for k in list(DC.keys())[:10]}

{('N063A', 'R011', '42 ST-PORT AUTH'): defaultdict(list,
             {0: [6708],
              1: [6589],
              2: [5993],
              3: [6148],
              4: [6287],
              5: [3041],
              6: [2462]}),
 ('N123B', 'R439', 'ROCKAWAY AV'): defaultdict(list,
             {0: [1206],
              1: [1124],
              2: [1268],
              3: [1234],
              4: [1219],
              5: [789],
              6: [604]}),
 ('N186', 'R418', 'BEACH 105 ST'): defaultdict(list,
             {0: [118],
              1: [112],
              2: [118],
              3: [115],
              4: [124],
              5: [27],
              6: [24]}),
 ('N330C', 'R202', '63 DR-REGO PARK'): defaultdict(list,
             {0: [966],
              1: [954],
              2: [993],
              3: [971],
              4: [957],
              5: [501],
              6: [419]}),
 ('N338B', 'R128', 'SUTPHIN BLVD'): defaultdict(list,
             {0: [589],
              1: [572],
              2: [558],
              3: [568],
              4: [578],
              5: [300],
              6: [312]}),
 ('N512', 'R163', '14 ST'): defaultdict(list,
             {0: [2898],
              1: [3193],
              2: [3062],
              3: [2960],
              4: [2997],
              5: [2106],
              6: [1582]}),
 ('N528', 'R257', 'EAST BROADWAY'): defaultdict(list,
             {0: [1], 1: [0], 2: [0], 3: [0], 4: [0], 5: [0], 6: [1]}),
 ('R103', 'R304', 'RECTOR ST'): defaultdict(list,
             {0: [1387], 1: [1619], 2: [1495], 3: [1404], 4: [1541], 6: [0]}),
 ('R245', 'R051', '59 ST'): defaultdict(list,
             {0: [2014],
              1: [2337],
              2: [2248],
              3: [2251],
              4: [2248],
              5: [2046],
              6: [1408]}),
 ('R514', 'R094', 'ASTORIA BLVD'): defaultdict(list,
             {0: [1889],
              1: [1840],
              2: [1995],
              3: [1861],
              4: [1907],
              5: [1074],
              6: [739]})}